
<ng-container *ngIf="true">
   <div class="container">
    <div class="card-table">
        <div class="card-product">
           <table class="table table-responsive"> 
              <thead>
                 <tr>
                     <th>Sr NO.</th>
                     <th>Vehical Name</th>
                     <th>Vehical Image</th>
                     <th>Price</th>
                     <th>Quantity</th>
                     <th>Total</th>
                     <th>Action</th>
                 </tr>
              </thead>
  
              <tbody>
                  <tr *ngFor="let item of productList; let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.model}}</td>
                      <td><img style="width:100px;height:100px;" src="{{item.image}}" alt=""></td>
                      <td>${{item.price}}</td>
                      <td>{{item.quantity}}</td>
                      <td>${{item.total}}</td>
                      <td>
                          <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                      </td>
                  </tr>
              </tbody>
           </table>
        </div>
     </div>
   </div>
</ng-container>



<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h3 class="card-title">My Cart</h3>
        </div>
        <div class="center">
            <img src="./assets/img/emptycart.png" alt="">
            <h4>your cart is empty !</h4>
            <h6> Add item to it now</h6>
            <button class="btn" style="background:skyblue"> Shop Now</button>
        </div>
    </div>
</ng-container>


