.card{
    height: 70vh;
    padding:25px;
    margin:25px;
}
.center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
h4,h6,h3{
    font-weight: 500;
    margin-bottom: 5px;
}
.card-table{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid black;
    border-radius: .25rem;

}
