
<div class="card-top container">
    <div class="d-flex justify-content-around" style="padding:10px;">

      <div class="item">
         <a (click)="filter('')">
            <img src="./assets/img/gas-vs-electric-scaled.jpg" style="width:100px;height:100px;" alt="">
            <h4 style="font-weight:500;">All Products</h4>
         </a>
      </div>

      <div class="item">
        <a (click)="filter('electrical')">
            <img src="./assets/img/electric pollution.jpg" style="width:100px;height:100px;" alt="">
            <h4 style="font-weight:500;">Electric Vehical</h4>
         </a>
      </div>

      <div class="item">
        <a (click)="filter('fule')">
            <img src="./assets/img/fule vehical.jpg" style="width:100px;height:100px;" alt="">
            <h4 style="font-weight:500;">Fule Vehical</h4>
         </a>
      </div>

    </div>
</div>

<div class="container" style="padding-left:200px;">
    <div class="row">
     <ng-container *ngFor="let item of productList">
        <div class="card col-md-3">
         <div class="col-12 d-flex">
             <div class="col-md-10">
               <img src="{{item.image}}" alt="" style="height:150px;width:250px;">
             </div>
             <div class="col-md-3" style="float:right;">
                <button class="btn"  (click)="addToWishlistItem(item)">
                  <i class="fas fa-thin fa-heart" style="font-size:20px;" [style.color]="item.isSelected ? 'red' : 'skyblue'" ></i> 
                </button> 
             </div>
         </div>
          
          <h2 style="font-weight:500;margin-bottom: 5px;">{{item.manufacturer}}</h2>
          <p><strong>Vehical Type:</strong>&nbsp;{{item.vehicaltype}}</p>
          <p><span><strong>Model:</strong>&nbsp;</span>{{item.model}}</p>
          <p><strong>Price:</strong>&nbsp;${{item.price}}</p>
          <p><strong>Year:</strong>&nbsp;{{item.year}}</p>
          <button class="btn" style="background:skyblue;" (click)="clickKnowMore(item)" >Know More..</button>
        </div>
     </ng-container>
    </div>
</div>
