.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap:break-word;
    background-clip: border-box;
    background: #ffff;
    border: 1px solid black;
    border-radius: .25rem;
}

.item a:hover{
    color: skyblue;
    font-weight: 700;
    cursor: pointer;
}
.item img{
    margin-bottom: 10px;
}
.card{
    padding:16px;
    margin:10px;
}