
  <header>
    <div class="navbar navbar-light shadow-sm col-12 d-flex justify-content-around" style="background-color:skyblue;">
       <div class="container-fluid"> 
        <div class="navbar-brand d-flex col-md-2 ">
            <i style="font-size:40px;" class="fas fa-duotone fa-motorcycle" routerLink=""></i> &nbsp;
            <strong style="font-size:25px;"> Brand Motors </strong>
        </div>

        <div class="form group d-flex col-md-6">
           <div class="col-12 col-md-6 d-flex">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown align-right">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">{{'header.language' | translate}}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a *ngFor="let lang of languageArray" (click)="changeLang(lang)" class="dropdown-item">{{lang}}</a>
                </div>
              </li>
            </ul>
           
           </div>  
           
          <div class="col-12 d-flex">
            <div class="col-md-2" style="padding-top:10px;">
              <label class="label-style "> Year of manufacture</label>
            </div>
            <div class="col-md-6">
              <select name="private" id="private" class="form-control w-100 c-control private-select" (change)="yearChangeClick($event)">
                <option [value]="0">---All---</option>
                <option *ngFor="let option of yearOptions" [value]="option">
                  {{ option }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-2" style="padding-left: 50px;"> 
         <button class="btn"  >
            <i class="fas fa-solid fa-cart-plus" style="font-size:40px;" ></i>
            <div style="font-size:10px;top:-30px;" class="badge bg-danger">{{totalItem}}</div>
         </button>
         <button class="btn" routerLink="/cart">
            <i class="fas fa-regular fa-heart" style="font-size:40px;" ></i>
            <div style="font-size:10px;top:-30px;" class="badge bg-danger">{{wishlistTotalItem}}</div>
        </button>
        </div>
      </div>
    </div>
  </header>
  
