<div class="container">
   <div class="row">
    <div class="product">
    <ng-container *ngFor="let item of productList">
        <div class="col-12 d-flex">
            <div class="col-md-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum saepe tenetur obcaecati!
                    Eum, optio accusamus molestiae perferendis velit quae illum quod sint nisi eos
                    rerum et cum veniam ipsum placeat!Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum saepe
                    tenetur obcaecati!
                    Eum, optio accusamus molestiae perferendis velit quae illum quod sint nisi eos
                    rerum et cum veniam ipsum placeat!</p>
                    <p><strong>Vehical Type:</strong>&nbsp;{{item.vehicaltype}}</p>
                    <p><span><strong>Model:</strong>&nbsp;</span>{{item.model}}</p>
                    <p><strong>Price:</strong>&nbsp;${{item.price}}</p>
                    <p><strong>Year:</strong>&nbsp;{{item.year}}</p>  
            </div>
            <div class="col-md-5">
                <img src="{{item.img}}" alt="">
            </div>
        </div>
    </ng-container>

    <div class="col-12 d-flex">
       <div class="col-md-6">
         <button class="btn" style="background:skyblue"> See Suggested Insurance</button>
       </div>

       <div class="col-md-6">
        <button class="btn" style="background:skyblue"> Add To Cart</button>
      </div>
    </div>
        
     </div>
   </div>
</div>
